/*--Section Formatting--*/
body{
    background-color: #E1D3D4;
    display: flex;
    flex-direction: column;
    margin: 0px;
}
@font-face{
    font-family: "Montserrat-Medium";
    src:url("/Users/marissabertrand/Documents/GitHub/UX_UI_HW_17/Montserrat/Montserrat-Medium.ttf");
}
@font-face{
    font-family: "Montserrat-Light";
    src: url("/Users/marissabertrand/Documents/GitHub/UX_UI_HW_17/Montserrat/Montserrat-Light.ttf");
}
@font-face{
    font-family: "OpenSans-Regular";
    src: url("/Users/marissabertrand/Documents/GitHub/UX_UI_HW_17/Open_Sans/OpenSans-Regular.ttf");
}
/*--------*/

/*Header*/
.HeaderGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
}
.HeaderGrid .logo{
    height: 100px;
    padding-left: 50px;
    background-color: black;
    display: block;
    justify-content: flex-start;
}
.HeaderGrid .logo #logoName{
    color: #BF80AE;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 36px;
    margin: 0 auto;
    padding-top: 10px;
}
.HeaderGrid .logo #logoTitle{
    color: #BF80AE;
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 24px;
    margin: 0 auto;
}
.HeaderGrid .menu{
    height: 100px;
    padding-right: 50px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.HeaderGrid .menu a{
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: white;
    padding: 20px;
}
/*--------*/

/*Body*/
.body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin: 75px auto;
    background-color: #D9A3A3;
    height: 675px;
    width: 1240px;
}
.body .CoverPhoto{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 87px;
    margin-left: 50px;
    background-color: grey;
    width: 650px;
    height: 500px;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 36px;
    text-align: center;  
}
.body .CoverBio{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 137px;
    margin-left: 50px;
    background-color: #D9A3A3;
    width: 400px;
    height: 400px;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 36px;
    text-align: center;
}
/*--------*/

/*Footer*/

.FooterGrid{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
}
.FooterGrid #copyName{
    height: 50px;
    padding-left: 50px;
    color: white;
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.FooterGrid .externalLinks{
    height: 50px;
    padding-right: 50px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.FooterGrid .externalLinks a{
    color: white;
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 12px;
    text-decoration: none;
    padding: 20px;
}
/*--------*/